<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><img class="hello" src="./assets/img/logo.png" ></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      <%if(!data){%>
      <nav class="nav-menu d-none d-lg-block">
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/post">Post</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/register">Signup/Sigin</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <%}else{%>
        <nav class="nav-menu d-none d-lg-block">
        
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/post">Post</a></li>
              <li><a href="/contact">Contact</a></li>
              <li>Welcome <%=data.username%></li>
              <li><a href="/logout">Log out</a></li>
    
            </ul>
          </nav><!-- .nav-menu -->
          <%}%>

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->